*{
	margin:0px;
	padding:0px;
}
body{
	color:white;
	width:1570px;
	font-family: 'Roboto', sans-serif;
}
.container{
	width:1170px;
	margin:0px auto;
}
nav{
	background-color:#f7f8fa;
}
nav img{
	padding:12px 0px;
}
header{
	height:750px;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	font-size:35px;
	text-align:center;
}
.overlay{
	background-color:#2e384ea1;
	height:100%;
	position:relative;
}
header .content{
	position:absolute;
	height:500px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}	
.call-to-action{
	color:white;
	text-decoration:none;
	border:2px solid #49b9fd;
	padding:15px;
	border-radius:10px;
	position:absolute;
	top:70%;
	left:50%;
	transform:translate(-50%,-50%);
}
.texta{
	height:400px;
	text-align:center;
	background-color:#f7f8fa;
	font-size:30px;
	position:relative;
}
.texta span{
	width:1170px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.texta span h2{
	color:#2e384e;
	}
.texta span p{
	color:#9ba4ad;
	margin:20px auto;
}
.features{
	height:400px;
	width:100%;
	font-size:20px;
}
.feature{
	background-color:white;
	text-align:center;
	height:200px;
	width:30%;
	margin:80px 19px;
	float:left;
}
.feature img{
	height:100px;
	width:100px;
}
.feature h2{
	color:#2e384e;
	margin:25px 5px;
	}
.feature p{
	color:#9ba4ad;
	margin:20px 5px;
	}
.pictures{
	background-color:#f7f8fa;
	height:810px;
}
.pictures img{
	height:300px;
	width:370px;
	margin:5px 5px;
}
.sign-up{
	background-image:url(../images/sign-up.jpeg);
	height:800px;
	text-align:center;
	position:relative;
}
.textb{
	height:300px;
	text-align:center;
	background-color:unset;
	font-size:30px;
	position:relative;
}
.textb span{
	width:1170px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.textb span h2{
	color:white;
	}
.textb span p{
	color:#9ba4ad;
	margin:20px auto;
}
.sign-up form{
	width:500px;
	height:400px;
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
}
.sign-up form input{
	width:99%;
	padding:5px 0px;
	margin:5px 0px;
	background-color:inherit;
	border:1px solid white;
	border-radius:5px;
}
.your-message{
	height:150px;
}
.suscribe{
	position:absolute;
	top:68%;
	left:40%;
	transform:translate(-50%,-50%);
}
button{
	width:20%;
	padding:15px 0px;
	margin:5px 0px;
	background-color:inherit;
	border:1px solid #49b9fd;
	border-radius:5px;
	float:right;
}
footer{
	width:1570px;
	background-color:#f7f8fa;
	height:100px;
	color:#2e384e;
	position:relative;
}
.copyright{
	position:absolute;
	top:50%;
	transform:translate(0%, -50%);
}
footer ul{
	list-style:none;
	float:right;
}
footer ul li{
	display:inline;
}
footer ul li img{
	margin:25px 5px;
	height:50px;
	width:50px;
	border-radius:10px;
}
footer ul li img:hover{
	cursor:pointer;
	transition: 0.4s;
	box-shadow:2px 2px 3px black;
}



